<% provide(:title, 'ユーザー設定ページ') %>
<% provide(:action, "編集する") %>
<% provide(:url, user_path) %>
<% provide(:btncss, "edit-btn") %>
<%= link_to image_tag("title.png"), "/",class: "signup-image" %>
<div class="signup">
  <h1>ユーザー設定</h1>
  <%= render partial: 'user' %>
</div>
