<% provide(:title, "User一覧ページ") %>
<div class="show-header">
  <%= link_to image_tag("title.png"), "/",class: "title-image" %>
</div>
<div class="show-main">
  <h1>登録者一覧</h1>
  <div class="index-todos">
    <% @users.each do |user| %>
       <%= user.name %>
       <% if !user.admin?  %>
         | <%= link_to "delete", user, method: :delete,
                                       data: { confirm: "You sure?" } %>
       <% end %>
    <% end %>
  </div>
</div>
