<% provide(:title, '登録ページ') %>
<% provide(:url, signup_path) %>
<% provide(:action, "サインアップ") %>
<%= link_to image_tag("title.png"), "/",class: "signup-image" %>
<div class="signup">
  <h1>サインアップ</h1>
      <%= render partial: 'user' %>
  <div class ="line">
  </div>
  <div class="login-folow">
    <%= link_to "ログインはこちら",login_path,method: :get %>
  </div>
</div>
