<% if @user.errors.full_messages_for(:password_confirmation).any? %>
  <ul class = "error_message">
  <% @user.errors.full_messages_for(:password_confirmation).each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
