body{
  margin: auto;
}
p{
  margin: auto;
}
//Topページ
.top-header{
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: image-url("todo.png");
  background-size: cover;
}
.background-opacity{
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
}
.header-top{
  margin: auto;
  height : 90px;
  width: 100%;
}
.title-image >img{
  width: 75px;
  height: 75px;
  margin:7px;
  float: left;
}
.title-image >img:hover{
  opacity: 0.7;
}
.login-btn{
  float: right;
  border-radius: 50px;
  margin: 20px;
  padding:10px;
  border: solid 1px #68ECF2;
  color: white;
  text-decoration: none;
}
.login-btn:hover{
  border-color: red;
}
.signup-btn{
  float: right;
  border-radius: 50px;
  margin: 20px;
  padding:10px;
  border: solid 1px #68ECF2;
  color: white;
  text-decoration: none;
}
.signup-btn:hover{
  border-color: red;
}
#humberger{
  display: none;
}


.header-theme{
  margin:180px;
  text-align: center;
}
.shall{
  font-size: 70px;
  font-weight: bolder;
}
.every{
  font-size: 20px;
  margin: 40px 0px 60px;
  font-family: serif;
}
.start-btn{
  border-radius: 50px;
  background-color: #68ECF2;
  opacity: 0.6;
  padding:10px;
  border: solid 1px #68ECF2;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight:bolder;
}
.start-btn:hover{
  opacity: 0.4;
  border-color: red;
}
.main-feature{
  margin: auto;
  width: 100%;
  height: 500px;
  background-color: #FEFEFE;
  display: flex;
  justify-content:center;
}
.feature{
  margin: 10px;
}
.feature-top{
  display: flex;
  border-radius: 50%;
  width:220px;
  height:220px;
  margin: 80px;
  padding:10px;
  border: solid 1px #68ECF2;
  text-decoration: none;
  background-color:white;
  font-size:27px;
  font-weight:bolder;
}
.feature-explain{
  text-align: center;
  font-size:20px;
  font-weight:bolder;
}
.main-imapct{
  margin: auto;
  padding-top: 100px;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #D9FAFC;
}
.smooth{
  font-size: 40px;
  font-weight: bolder;
  margin: 30px;
  font-family: serif;
}
.sentence{
  font-size: 22px;
  font-family: serif;
}
.main-lets{
  margin: auto;
  padding-top: 40px;
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #FEFEFE;
}
.lets-image{
  display: flex;
  margin: auto;
  padding-right: 32%;
}
.lets-image >img{
  width: 250px;
  height: 320px;
  margin-left: 25%;

}
.lets-image >p{
  margin: auto;
  font-size: 30px;
  font-family: serif;
}
.top-footer{
  width: 100%;
  height: 250px;
  background-color:#728D8D;
}
.icon{
  width: 15%;
  padding: 50px 50px;
  text-align: center;

}
.icon > img{
  width: 60px;
  height: 60px;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 1050px) {

  .main-feature{
    height: 400px;
  }
  .feature{
    margin: 10px;
  }
  .feature-top{
    width:200px;
    height:200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:23px;
  }
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  .top-header{
    height: 460px;
    background-position: right 30% top 10%;
  }
  .header-top{
    position: fixed;
    z-index:500;
    height : 75px;
    background-color: rgba( 0, 0, 0, 0.15 );
  }
  .title-image >img{
    width: 50px;
    height: 50px;
    margin:13px;
  }
  #alltouch{
    width: 100%;
    height: 2000px;
    background-color: rgba( black, 0.15 );
  }

  #sidebar{
    width: 100%;
    background-color: #FEFEFE;
    height: 350px;
    position: relative;
    padding-top: 15px;
  }

  .login-responsive-btn{
    margin-top: 25%;
    margin-left: 30%;
    text-align: center;
    width: 40%;
    border-radius: 50px;
    padding:10px;
    border: solid 1px #68ECF2;
    color: #68ECF2;
    background-color: white;
    text-decoration: none;

  }
  .signup-responsive-btn{
    margin-top: 55px;
    margin-left: 30%;
    text-align: center;
    width: 40%;
    border-radius: 50px;
    padding:10px;
    border: solid 1px #68ECF2;
    background-color: white;
    color: #68ECF2;
    text-decoration: none;
  }
  .login-btn{
    display: none;
  }

  .signup-btn{
    display: none;
  }
  #humberger {
    float: right;
    margin: 17px;
    position: relative;
    height: 42px;
    width: 42px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #68ECF2;
    border-radius: 50%;
  }
  #humberger div {
    position: absolute;
    left: 8px;
    height: 2px;
    width: 24px;
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 13px;
  }
  #humberger div:nth-of-type(2) {
    top: 20px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 11px;
  }
  .batu {
    float: right;
    margin-right: 15px;
    position: relative;
    height: 42px;
    width: 42px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #68ECF2;
    background-color: white;
    border-radius: 50%;
  }
  .batu p{
    color: #68ECF2;
    font-size: 40px;
    position: absolute;
    left: 7px;
    top: -12px;
    border-radius: 2px;
    display: inline-block;
  }
  .header-theme{
    padding-top:170px;
    margin: auto;
  }
  .shall{
    font-size: 30px;
  }
  .every{
    font-size: 15px;
    margin: 20px 0px 60px;
  }
  .start-btn{
    padding: 10px 20px;
    font-size: 15px;
  }
  .main-feature{
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature{
    margin: auto;
    padding: 40px;
  }
  .feature-top{
    width:190px;
    height:190px;
    margin: 0px 30px;
    padding:10px;
    border: solid 10px #68ECF2;
    font-size:22px;
  }
  .feature-explain{
    margin-top: 30px;
    font-size:15px;
  }
  .main-imapct{
    margin: auto;
    padding-top: 50px;
    text-align: left;
    height: 200px;
  }
  .smooth{
    font-size: 25px;
    margin: 0px 30px;
  }
  .sentence{
    font-size: 15px;
    margin: 30px;
  }
  .main-lets{
    padding-top: 30px;
    height: 150px;
  }
  .lets-image{
    display: block;
    margin: 20px;
    padding-right: 0%;
  }
  .lets-image >p{
    font-size: 25px;
  }
  .lets-image >img{
    display: none;

  }
  .top-footer{
    height: 200px;
  }
  .icon{
    width: 15%;
    padding: 40px 43%;
    text-align: center;

  }
  .icon > img{
    width: 50px;
    height: 50px;
  }

}
